---
import Container from "@components/Container.astro"
type Size = "sm" | "md" | "lg" | "xl" | "2xl";
const { dense = false, size = "md" } = Astro.props as { dense?: boolean; size?: Size };
---

<div class={`flex-1 py-5 ${dense ? 'bg-white/85 dark:bg-black/85' : 'bg-white/75 dark:bg-black/75'}`}>
  <Container size={size}>
    <slot/>
  </Container>
</div>
